body {
  margin: 2%;
  background-image: url('assets/img/bg.gif');
}
main {
  background: rgba(255, 255, 255, 0.5);
}

#main {
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
}
.caption {
    width: 100%;
}
table td {
    padding-right: 10px;
}
textarea {
    text-align: center;
    font-size: 22px;
    height: 3em;
}

.meme-preview img {
  padding: 5px;
  width:200px;
}

.meme-preview img:hover {
  border: solid 2px;
  -webkit-transform: scale(1.05);
 -moz-transform: scale(1.05);
 -o-transform: scale(1.05);
 -ms-transform: scale(1.05);
 transform: scale(1.05);
}

.active-meme {
  border: solid 3px;
}
